$sand: #e9d5b6;
$pink: #f2668b;
$green: #03a688;
$darkBlue: #011f26;
$navy: #025e73;
$teal: #026873;
$darkSlateGrey: #144b66;
$steelBlue: #2c8d9d;
$steelBlueLight: #39cce2;
$lightGreen: #d6f171;
$cadetBlue: #5f9ea0;
$red: #b37f7f;
$tourqise: #a0ebe3;