/*all animations go here, svg animations could go in the HTML as well*/
@keyframes fishfloat {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes fishtwo__swimaway {
    0% {
        transform: translate(260px, 270px);
    }

    100% {
        transform: translate(600px, 270px);
    }
}