/*initial layout, might rework/set up flex later*/

body {
    width: 100%;
    background-color: $tourqise;
}

body>div>* {
    width: 600px;
    height: 600px;
    background-color: $cadetBlue; /*background color just for visibility for now*/
    margin: 100px auto;
}
p{
    max-width: 65ch;
}
/* dosent work, I tried different stuff and asked for help but I couldnt find the problem why this dosent work,
*/
.info{
animation: textbox 30s linear 19s both;
    opacity: 0;
    max-width: 40ch;
    border-style: solid;
    border-width: 10px;
    border-color: $green;
    border-radius: 8px;
}


.introtext {

    h1 {
        text-align: center;
        height: auto;
        margin: 150px auto 50px;
        font-size: 3rem;
        background-color: inherit;
    }

    .introtext__text {
        background-color: inherit;
        margin: 0 auto;
        height: auto;
    }
}

