body {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

body>div>* {
    width: 600px;
    height: 600px;
    background-color: $cadetBlue; 
    margin: 100px auto;
}

.introtext {

    h1 {
        text-align: center;
        height: auto;
        padding-top: 150px;
        margin: 0 auto 50px;
        font-size: 3rem;
        background-color: inherit;
    }

    .introtext__text {
        background-color: inherit;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }
}

