/* all media-query related here*/
@media (prefers-reduced-motion) {
    * {
        animation: none !important;
    }
    

    .page-five {

        .page-five__bottletwo {
            transform: translate(40px, 100px) !important;
        }

        .page-five__bottleone {
            transform: translate(-300px, 40px) !important;
        }

        .page-five__fishone {
            transform: translate(-200px, -200px) !important;
        }
    }
}

@media (prefers-color-scheme: dark) {
    //wanted to make the pages as neutral as possible, since they are fairly neutral by default. They arent very light, nor very dark.
    //knew this because I ran the original page using a dark mode chrome-addon, and it didnt do anything with the main pages.
    body {
    background-color: $darkModeBackground;
    }

    .introtext {
        color: $white;
    }
}

//white text for better readability
@media (prefers-color-scheme: light) {
    body {
        background-color: $tourqise;
    }
}

@media (orientation: landscape) {}

@media (orientation: portrait) {}