/* all styling for the 10 slides go here, some svg things can go in svg file for better separation*/

.page-front {
    background-color: $skyebule;
}

.page-one {
    background-color: $steelBlue;
}

.page-two {
    background-color: $teal;
}

.page-three {
    background-color: $navy;
}
.page-front_jsanimations{
    .page-front_cloud_1{
        animation: slide-out-left 20s linear both;
        animation-iteration-count: 1;
    }
    .page-front_cloud_2{
        animation: slide-out-left1 20s linear both;
        animation-iteration-count: 1;
    }
    .page-front_cloud_3{
        animation: slide-out-left2 20s linear both;
        animation-iteration-count: 1;
    }
    .page-front_cloud_4{
        animation: slide-out-left3 20s linear both;
        animation-iteration-count: 1;
    }
}
.page-two_jsanimations{
    .page-two_fish1{
        animation: fish-swim 20s linear;
        animation-iteration-count: 1;
    }
    .page-two_fish2{
        animation: fish-swim2 20s linear;
        animation-iteration-count: 1;
    }
    .page-two_fish3{
        animation: fish-swim3 20s linear;
        animation-iteration-count: 1;
    }
}
.page-three_jsanimations{
    .page-three_starfish{
        animation: starfall 1s linear;
        animation-iteration-count: 1;
    }
    .page-three_fish4{
        animation: fish-swim4 10s linear;
        animation-iteration-count: 1;
    }
}
.page-four,
.page-five,
.page-six {
    background-color: $navy;
    overflow: hidden;
}

.page-four__animator {
    .page-four__fishfour {
        animation: page-four__fish__right 5s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

.page-five__animator {
    .page-five__fishtwo {
        animation: fishtwo__swimaway 2s ease-in-out;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .page-five__bottleone {
        animation: bottle__fall 2s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .page-five__bottletwo {
        animation: bottle__fall__two 4s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .page-five__fishone {
        animation: page-five__fishone__swim 4s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 3500ms;
    }
}

.page-six__animator {
    .page-six__ground__bottleone {
        animation: page-six__bottle 8s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

.page-seven__animation {
    .page__text--seven {
        animation-name: page-seven__text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

.page-eight__animation {
    .page__text--eight {
        animation: page-eight__text 5s infinite;
    }
}

.page-nine__animation {
    .page__text--nine {
        animation-name: page-nine__text;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}

.page__text {
    font-size: 2rem;
    position: absolute;
    max-width: 345px;
    margin: 0 auto;
    text-align: center;
}

.page__text--seven {
    transform: translate(40%, 30px);
}

.page__text--eight {
    transform: translate(130px, 250px);
}

.page__text--nine {
    transform: translate(130px, 50px);
}