.page-front{
    .cloud{
        overflow: visible;
    }
    .page-front_text{
        transform: translateY(250px);
    }
    .page-front_cloud_1{
        transform: translateX(270px);
        animation: slide-out-left 20s linear both;
    }
    .page-front_cloud_2{
        transform: translate(150px, -50px);
        animation: slide-out-left1 20s linear both;
    }
    .page-front_cloud_3{
    transform: translate(200px, 120px);
    animation: slide-out-left2 20s linear both;}
    .page-front_cloud_4{
        transform: translate(100px, 220px);
        animation: slide-out-left3 20s linear both;
    }
}
.page-one{
    .page-one_duck{
        transform: translate(330px, 500px);
    }
    .page-one_strip1-above{
        animation: wave 4s ease-out infinite;
    }
    .page-one_strip2-above{
        animation: wave2 4s ease-out infinite;
    }
    .page-one_strip3-above{
        animation: wave2 4s ease-out infinite;
    }
    .page-one_strip4-above{
        transform: translate(-10px, 5px);
        animation: wave 4s ease-out infinite;
    }
}
.page-two{
   
    .page-two_duck{
        transform: translate(330px, -20px);
    }
    .page-two_fishes{
        transform: translateY(120px);
       
    }
    .page-two_fish1{
        transform: translate(10px, 120px);
        animation: fish-swim 20s linear;
        opacity: 0;
    }
    .page-two_fish2{
        transform: translate(10px, 150px);
        animation: fish-swim2 20s linear;
        opacity: 0;
    }
    .page-two_fish3{
        transform: translate(-200px, 200px);
        animation: fish-swim3 20s linear;
        opacity: 0;
    }
    
    .page-two_strip1-under{
        animation: wave 4s ease-out infinite
    }
    .page-two_strip2-under{
        animation: wave2 4s ease-out infinite
    }
    .page-two_strip3-under{
        animation: wave2 4s ease-out infinite
    }
    .page-two_strip4-under{
        animation: wave 4s ease-out infinite
    }
}
.page-three{
    .page-three_fish4{
        transform: translate(50px, 350px);
        animation: fish-swim4 10s linear;
        opacity: 0;
    }
   
    .page-three_text2{
        animation: textbox1;
    }
    .page-three_ground{
        transform: translate(-107px, 350px);
    }
    .page-three_stone{
        transform: translate(400px, 150px);
    }
    .page-three_starfish{
        transform: translate(270px,154px);
        animation: starfall 1s linear;
    }
    .page-three_seaweed_1{
        transform: translate(-200px, 100px);
    }
    .page-three_seaweed_2{
        transform: translate(-240px, 110px);
    }
    .page-three_seaweed_3{
        transform: translate(-225px, 106px);
    }
    .page-three_seaweed_4{
        transform: translate(-230px, 100px);
    }
}
.page-four {

    .page-four__ground {
        transform: translate(0, 381px);
        stroke: $sand;
        overflow: visible;
    }

    .page-four__rock {
        transform: translate(471px, 250px) scale(2);
        fill: $grey;
    }

    .page-four__rock__star {
        transform: translate(30px, 5px) scale(0.8);
        fill: $orange;
    }

    .page-four__ground__seaweedone {
        transform: translate(10px, -12px);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-four__ground__seaweedtwo {
        transform: translate(30px, -8px) scale(0.8);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-four__ground__seaweedthree {
        transform: translate(44px, -20px) scale(1.07);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-four__ground__seaweedfour {
        transform: translate(62px, -18px) scale(1.1);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-four__ground__pebbleone {
        transform: translate(130px, 60px) scale(1.6);
        fill: $grey;
    }

    .page-four__ground__pebbletwo {
        transform: translate(300px, 90px) scale(1.6);
        fill: $grey;
    }

    .page-four__fishone {
        transform: translate(80px, 90px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-four__fishtwo {
        transform: translate(160px, 50px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-four__fishthree {
        transform: translate(-150px, 340px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-four__fishfour {
        transform: translate(-30px, 300px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-four__fishone * {
        animation: fish_swimacross 8s infinite linear;
    }

    .page-four__fishtwo * {
        animation: floating 5s infinite;
        animation-delay: 3s;
    }

    .page-four__fishthree * {
        animation: floating 4s infinite;
    }

    .page-four__fishfour * {
        animation: floating 7s infinite;
    }

    .page-four__ground__star-one {
        fill: $orange;
        transform: translate(100px, 90px);
    }

    .page-four__ground__star-two {
        transform: translate(260px, 20px) scale(1.3);
        fill: $orange;
    }

    .page-four__ground__star-three {
        transform: translate(350px, 40px) scale(1.2);
        fill: $orange;
    }
}

.page-five {

    .page-five__ground {
        transform: translate(0px, 381px) scale(1);
        fill: $sand;
        overflow: visible;
    }

    .page-five__rock {
        transform: translate(480px, 230px) scale(2.5);
        fill: $grey;
    }

    .page-five__rock__star {
        transform: translate(30px, 5px) scale(0.7);
        fill: $orange;
    }

    .page-five__ground__seaweedone {
        transform: translate(30px, 8px) scale(1);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-five__ground__seaweedtwo {
        transform: translate(50px, 12px) scale(0.8);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-five__ground__seaweedthree {
        transform: translate(74px, 8px) scale(1.07);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-five__ground__pebbleone {
        transform: translate(130px, 60px) scale(1.6);
        fill: $grey;
    }

    .page-five__ground__pebbletwo {
        transform: translate(300px, 90px) scale(1.6);
        fill: $grey;
    }

    .page-five__ground__pebblethree {
        transform: translate(160px, 100px) scale(1.6);
        fill: $grey;
    }

    .page-five__ground__pebblefour {
        transform: translate(340px, 30px) scale(1.6);
        fill: $grey;
    }

    .page-five__fishone {
        transform: translate(80px, 150px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-five__fishtwo {
        transform: translate(260px, 270px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-five__fishthree {
        transform: translate(-150px, 340px) scale(-1, 1);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-five__fishone * {
        animation: floating 4s infinite;
    }

    .page-five__fishtwo * {
        animation: floating 6s infinite;
    }

    .page-five__fishthree * {
        animation: floating 8s infinite;
    }

    .page-five__ground__star-one {
        fill: $orange;
        transform: translate(100px, 90px);
    }

    .page-five__ground__star-two {
        transform: translate(260px, 20px) scale(1.3);
        fill: $orange;
    }

    // float into place w scrollama
    .page-five__bottleone {
        transform: translate(0, -200px);
        fill: $steelBlueLight;
        overflow: visible;
    }

    .page-five__bottleone * {
        animation: floating 4s infinite;
    }

    .page-five__bottletwo {
        transform: translate(-300px, -200px);
        fill: $steelBlueLight;
        overflow: visible;
    }
    .page-five__bottletwo * {
        animation: floating 6s infinite;
    }
}

.page-six {

    .page-six__ground {
        transform: translate(0, 332px);
        stroke: $sand;
    }

    .page-six__rock {
        transform: translate(480px, 180px) scale(2.5);
        fill: $grey;
    }

    .page-six__ground__seaweed {
        transform: translate(44px, 8px) scale(1.4);
        fill: $brightGreen;
        stroke: $brightGreen;
    }

    .page-six__ground__pebbleone {
        transform: translate(130px, 60px) scale(1.6);
        fill: $grey;
    }

    .page-six__ground__pebbletwo {
        transform: translate(260px, 90px) scale(1.6);
        fill: $grey;
    }

    .page-six__ground__pebblethree {
        transform: translate(160px, 130px) scale(1.6);
        fill: $grey;
    }

    .page-six__ground__pebblefour {
        transform: translate(340px, 30px) scale(1.6);
        fill: $grey;
    }

    .page-six__ground__pebblefive {
        transform: translate(340px, 120px) scale(1.6);
        fill: $grey;
    }

    .page-six__ground__star-one {
        transform: translate(80px, 110px) scale(0.7);
        fill: $orange;
    }

    .page-six__fishone {
        transform: translate(30px, 270px);
        fill: $greyBlue;
        overflow: visible;
    }

    .page-six__fishone * {
        animation: floating 12s infinite;
    }

    .page-six__bottleone {
        transform: translate(20px, 40px) scale(1.1) rotate(-20deg);
        fill: $steelBlueLight;
        overflow: visible;
    }

    .page-six__bottleone * {
        animation: floating 5s infinite;
    }

    .page-six__bottletwo {
        transform: translate(200px, 200px) scale(0.9) rotate(-10deg);
        fill: $steelBlueLight;
        overflow: visible;
    }
    
    .page-six__bottletwo * {
        animation: floating 7s infinite;
    }

    .page-six__ground__bottleone {
        transform: translate(335px, 50px) scale(0.8);
        fill: $steelBlueLight;
        overflow: visible;
    }
}

.page-seven {

    .page__seven__fish {
        -webkit-animation: fish-bounce 5s linear infinite;
        animation: fish-bounce 5s linear infinite;
    }
    .page-seven__bag {
        -webkit-animation: bag-float 5s ease infinite;
        animation: bag-float 5s ease infinite;
    }

    .page__seven__fish-float {
        -webkit-animation: fish-float 5s infinite;
        animation: fish-float 5s infinite;
    }
}
    
    .page-eight {
        .page__eight__plastic {
            -webkit-animation: plastic-bounce 4s ease infinite;
            animation: plastic-bounce 4s ease infinite;
        }
        .page__eight__cup {
            -webkit-animation: plastic-shake 4s ease infinite;
            animation: plastic-shake 4s ease infinite;
        }
        .page__eight__div-plastic {
            -webkit-animation: div-plastic 5s linear infinite;
            animation: div-plastic 5s linear infinite;
        }
    }
    
    .page-nine {
        .page__nine__earth {
            -webkit-animation: earth 5s ease infinite;
            animation: earth 5s ease infinite;
        }
        .page__nine__left-hand {
            -webkit-animation: left-hand 5s ease infinite;
            animation: left-hand 5s ease infinite;
        }
        .page__nine__fish-float {
            -webkit-animation: fish-float 5s infinite;
            animation: fish-float 5s infinite;
        }
    }
