* {
  font-family: sans-serif;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fishtwo__swimaway {
  0% {
    -webkit-transform: translate(260px, 270px);
            transform: translate(260px, 270px);
  }
  100% {
    -webkit-transform: translate(600px, 270px);
            transform: translate(600px, 270px);
  }
}

@keyframes fishtwo__swimaway {
  0% {
    -webkit-transform: translate(260px, 270px);
            transform: translate(260px, 270px);
  }
  100% {
    -webkit-transform: translate(600px, 270px);
            transform: translate(600px, 270px);
  }
}

@-webkit-keyframes bottle__fall {
  0% {
    -webkit-transform: translate(40px, -200px);
            transform: translate(40px, -200px);
  }
  100% {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
}

@keyframes bottle__fall {
  0% {
    -webkit-transform: translate(40px, -200px);
            transform: translate(40px, -200px);
  }
  100% {
    -webkit-transform: translate(40px, 100px);
            transform: translate(40px, 100px);
  }
}

@-webkit-keyframes bottle__fall__two {
  0% {
    -webkit-transform: translate(-300px, -200px);
            transform: translate(-300px, -200px);
  }
  100% {
    -webkit-transform: translate(-300px, 40px);
            transform: translate(-300px, 40px);
  }
}

@keyframes bottle__fall__two {
  0% {
    -webkit-transform: translate(-300px, -200px);
            transform: translate(-300px, -200px);
  }
  100% {
    -webkit-transform: translate(-300px, 40px);
            transform: translate(-300px, 40px);
  }
}

@-webkit-keyframes fish_swimacross {
  0% {
    -webkit-transform: translate(80px, 90px);
            transform: translate(80px, 90px);
  }
  52% {
    -webkit-transform: translate(530px, 90px);
            transform: translate(530px, 90px);
  }
  60% {
    -webkit-transform: translate(530px, -180px);
            transform: translate(530px, -180px);
  }
  61% {
    -webkit-transform: translate(-200px, -180px);
            transform: translate(-200px, -180px);
  }
  68% {
    -webkit-transform: translate(-200px, 90px);
            transform: translate(-200px, 90px);
  }
  100% {
    -webkit-transform: translate(80px, 90px);
            transform: translate(80px, 90px);
  }
}

@keyframes fish_swimacross {
  0% {
    -webkit-transform: translate(80px, 90px);
            transform: translate(80px, 90px);
  }
  52% {
    -webkit-transform: translate(530px, 90px);
            transform: translate(530px, 90px);
  }
  60% {
    -webkit-transform: translate(530px, -180px);
            transform: translate(530px, -180px);
  }
  61% {
    -webkit-transform: translate(-200px, -180px);
            transform: translate(-200px, -180px);
  }
  68% {
    -webkit-transform: translate(-200px, 90px);
            transform: translate(-200px, 90px);
  }
  100% {
    -webkit-transform: translate(80px, 90px);
            transform: translate(80px, 90px);
  }
}

@-webkit-keyframes page-five__fishone__swim {
  0% {
    -webkit-transform: translate(80px, 150px);
            transform: translate(80px, 150px);
  }
  1% {
    -webkit-transform: translate(80px, 150px) scale(-1, 1);
            transform: translate(80px, 150px) scale(-1, 1);
  }
  10% {
    -webkit-transform: translate(80px, 150px) scale(-1, 1);
            transform: translate(80px, 150px) scale(-1, 1);
  }
  100% {
    -webkit-transform: translate(-200px, 200px) scale(-1, 1);
            transform: translate(-200px, 200px) scale(-1, 1);
  }
}

@keyframes page-five__fishone__swim {
  0% {
    -webkit-transform: translate(80px, 150px);
            transform: translate(80px, 150px);
  }
  1% {
    -webkit-transform: translate(80px, 150px) scale(-1, 1);
            transform: translate(80px, 150px) scale(-1, 1);
  }
  10% {
    -webkit-transform: translate(80px, 150px) scale(-1, 1);
            transform: translate(80px, 150px) scale(-1, 1);
  }
  100% {
    -webkit-transform: translate(-200px, 200px) scale(-1, 1);
            transform: translate(-200px, 200px) scale(-1, 1);
  }
}

@-webkit-keyframes fish-bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fish-bounce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bag-float {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes bag-float {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes plastic-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes plastic-bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes plastic-shake {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes plastic-shake {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes div-plastic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes div-plastic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes earth {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes earth {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes left-hand {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
            transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes left-hand {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
            transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes fish-float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fish-float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(270px);
            transform: translateX(270px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(270px);
            transform: translateX(270px);
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes slide-out-left1 {
  0% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
  }
  100% {
    -webkit-transform: translate(-100px, -50px);
            transform: translate(-100px, -50px);
  }
}

@keyframes slide-out-left1 {
  0% {
    -webkit-transform: translate(150px, -50px);
            transform: translate(150px, -50px);
  }
  100% {
    -webkit-transform: translate(-100px, -50px);
            transform: translate(-100px, -50px);
  }
}

@-webkit-keyframes slide-out-left2 {
  0% {
    -webkit-transform: translate(200px, 120px);
            transform: translate(200px, 120px);
  }
  100% {
    -webkit-transform: translate(-30px, 120px);
            transform: translate(-30px, 120px);
  }
}

@keyframes slide-out-left2 {
  0% {
    -webkit-transform: translate(200px, 120px);
            transform: translate(200px, 120px);
  }
  100% {
    -webkit-transform: translate(-30px, 120px);
            transform: translate(-30px, 120px);
  }
}

@-webkit-keyframes slide-out-left3 {
  0% {
    -webkit-transform: translate(100px, 220px);
            transform: translate(100px, 220px);
  }
  100% {
    -webkit-transform: translate(-30px, 220px);
            transform: translate(-30px, 220px);
  }
}

@keyframes slide-out-left3 {
  0% {
    -webkit-transform: translate(100px, 220px);
            transform: translate(100px, 220px);
  }
  100% {
    -webkit-transform: translate(-30px, 220px);
            transform: translate(-30px, 220px);
  }
}

@-webkit-keyframes wave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes wave2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fish-swim {
  0% {
    -webkit-transform: translate(10px, 170px);
            transform: translate(10px, 170px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 170px);
            transform: translate(300px, 170px);
    opacity: 0;
  }
}

@keyframes fish-swim {
  0% {
    -webkit-transform: translate(10px, 170px);
            transform: translate(10px, 170px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 170px);
            transform: translate(300px, 170px);
    opacity: 0;
  }
}

@-webkit-keyframes fish-swim2 {
  0% {
    -webkit-transform: translate(10px, 200px);
            transform: translate(10px, 200px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 200px);
            transform: translate(300px, 200px);
    opacity: 0;
  }
}

@keyframes fish-swim2 {
  0% {
    -webkit-transform: translate(10px, 200px);
            transform: translate(10px, 200px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 200px);
            transform: translate(300px, 200px);
    opacity: 0;
  }
}

@-webkit-keyframes fish-swim3 {
  0% {
    -webkit-transform: translate(10px, 350px);
            transform: translate(10px, 350px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 350px);
            transform: translate(300px, 350px);
    opacity: 0;
  }
}

@keyframes fish-swim3 {
  0% {
    -webkit-transform: translate(10px, 350px);
            transform: translate(10px, 350px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 350px);
            transform: translate(300px, 350px);
    opacity: 0;
  }
}

@-webkit-keyframes fish-swim4 {
  0% {
    -webkit-transform: translate(50px, 200px);
            transform: translate(50px, 200px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 200px);
            transform: translate(300px, 200px);
    opacity: 0;
  }
}

@keyframes fish-swim4 {
  0% {
    -webkit-transform: translate(50px, 200px);
            transform: translate(50px, 200px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(300px, 200px);
            transform: translate(300px, 200px);
    opacity: 0;
  }
}

@-webkit-keyframes starfall {
  0% {
    -webkit-transform: translate(270px, 10px);
            transform: translate(270px, 10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translate(270px, 67px);
            transform: translate(270px, 67px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes starfall {
  0% {
    -webkit-transform: translate(270px, 10px);
            transform: translate(270px, 10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translate(270px, 67px);
            transform: translate(270px, 67px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes page-four__fish__right {
  0% {
    -webkit-transform: translate(300px, 300px) scale(-1, 1);
            transform: translate(300px, 300px) scale(-1, 1);
  }
  100% {
    -webkit-transform: translate(-30px, 300px) scale(-1, 1);
            transform: translate(-30px, 300px) scale(-1, 1);
  }
}

@keyframes page-four__fish__right {
  0% {
    -webkit-transform: translate(300px, 300px) scale(-1, 1);
            transform: translate(300px, 300px) scale(-1, 1);
  }
  100% {
    -webkit-transform: translate(-30px, 300px) scale(-1, 1);
            transform: translate(-30px, 300px) scale(-1, 1);
  }
}

@-webkit-keyframes page-six__bottle {
  0% {
    -webkit-transform: translate(335px, -600px) scale(0.8);
            transform: translate(335px, -600px) scale(0.8);
  }
  100% {
    -webkit-transform: translate(335px, 50px) scale(0.8);
            transform: translate(335px, 50px) scale(0.8);
  }
}

@keyframes page-six__bottle {
  0% {
    -webkit-transform: translate(335px, -600px) scale(0.8);
            transform: translate(335px, -600px) scale(0.8);
  }
  100% {
    -webkit-transform: translate(335px, 50px) scale(0.8);
            transform: translate(335px, 50px) scale(0.8);
  }
}

@-webkit-keyframes page-seven__text {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes page-seven__text {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes page-eight__text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-eight__text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes page-nine__text {
  0% {
    -webkit-transform: scale(0.3) translate(90px, 50px);
            transform: scale(0.3) translate(90px, 50px);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.5) translate(90px, 50px);
            transform: scale(1.5) translate(90px, 50px);
  }
}

@keyframes page-nine__text {
  0% {
    -webkit-transform: scale(0.3) translate(90px, 50px);
            transform: scale(0.3) translate(90px, 50px);
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(1.5) translate(90px, 50px);
            transform: scale(1.5) translate(90px, 50px);
  }
}

body {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

body > div > * {
  width: 600px;
  height: 600px;
  background-color: #5f9ea0;
  margin: 100px auto;
}

.introtext h1 {
  text-align: center;
  height: auto;
  padding-top: 150px;
  margin: 0 auto 50px;
  font-size: 3rem;
  background-color: inherit;
}

.introtext .introtext__text {
  background-color: inherit;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

@media (prefers-reduced-motion) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .page-four .page-four__fishfour {
    -webkit-transform: translate(-20px, 300px) !important;
            transform: translate(-20px, 300px) !important;
  }
  .page-five .page-five__bottletwo {
    -webkit-transform: translate(40px, 100px) !important;
            transform: translate(40px, 100px) !important;
  }
  .page-five .page-five__bottleone {
    -webkit-transform: translate(-300px, 40px) !important;
            transform: translate(-300px, 40px) !important;
  }
  .page-five .page-five__fishone {
    -webkit-transform: translate(-200px, -200px) !important;
            transform: translate(-200px, -200px) !important;
  }
  .page-six .page-six__ground__bottleone {
    -webkit-transform: translate(335px, 50px) scale(0.8) !important;
            transform: translate(335px, 50px) scale(0.8) !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #272834;
  }
  .introtext {
    color: #FFFFFF;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #a0ebe3;
  }
}

.page-front .page-front_text {
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.page-front .page-front_cloud_1 {
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
}

.page-front .page-front_cloud_2 {
  -webkit-transform: translate(150px, -50px);
          transform: translate(150px, -50px);
}

.page-front .page-front_cloud_3 {
  -webkit-transform: translate(200px, 120px);
          transform: translate(200px, 120px);
}

.page-front .page-front_cloud_4 {
  -webkit-transform: translate(100px, 220px);
          transform: translate(100px, 220px);
}

.page-one .page-one_duck {
  -webkit-transform: translate(330px, 500px);
          transform: translate(330px, 500px);
}

.page-one .page-one_strip1-above {
  -webkit-animation: wave 4s ease-out infinite;
          animation: wave 4s ease-out infinite;
}

.page-one .page-one_strip2-above,
.page-one .page-one_strip3-above {
  -webkit-animation: wave2 4s ease-out infinite;
          animation: wave2 4s ease-out infinite;
}

.page-one .page-one_strip4-above {
  -webkit-transform: translate(-10px, 5px);
          transform: translate(-10px, 5px);
  -webkit-animation: wave 4s ease-out infinite;
          animation: wave 4s ease-out infinite;
}

.page-two .page-two_facts1 {
  -webkit-transform: translate(42px, 10px);
          transform: translate(42px, 10px);
}

.page-two .page-two_duck {
  -webkit-transform: translate(330px, -20px);
          transform: translate(330px, -20px);
}

.page-two .page-two_fishes {
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
}

.page-two .page-two_fish1 {
  -webkit-transform: translate(10px, 170px);
          transform: translate(10px, 170px);
}

.page-two .page-two_fish2 {
  -webkit-transform: translate(10px, 200px);
          transform: translate(10px, 200px);
}

.page-two .page-two_fish3 {
  -webkit-transform: translate(-200px, 350px);
          transform: translate(-200px, 350px);
}

.page-two .page-two_strip1-under {
  -webkit-animation: wave 4s ease-out infinite;
          animation: wave 4s ease-out infinite;
}

.page-two .page-two_strip2-under {
  -webkit-animation: wave2 4s ease-out infinite;
          animation: wave2 4s ease-out infinite;
}

.page-two .page-two_strip3-under {
  -webkit-animation: wave2 4s ease-out infinite;
          animation: wave2 4s ease-out infinite;
}

.page-two .page-two_strip4-under {
  -webkit-animation: wave 4s ease-out infinite;
          animation: wave 4s ease-out infinite;
}

.page-three .page-three_facts2 {
  -webkit-transform: translate(35px, 60px);
          transform: translate(35px, 60px);
}

.page-three .page-three_fish4 {
  -webkit-transform: translate(50px, 200px);
          transform: translate(50px, 200px);
  opacity: 1;
}

.page-three .page-three_ground {
  -webkit-transform: translate(-107px, 272px);
          transform: translate(-107px, 272px);
}

.page-three .page-three_stone {
  -webkit-transform: translate(400px, 69px);
          transform: translate(400px, 69px);
}

.page-three .page-three_starfish {
  -webkit-transform: translate(270px, 67px);
          transform: translate(270px, 67px);
}

.page-three .page-three_seaweed_1 {
  -webkit-transform: translate(-200px, 50px);
          transform: translate(-200px, 50px);
}

.page-three .page-three_seaweed_2 {
  -webkit-transform: translate(-240px, 60px);
          transform: translate(-240px, 60px);
}

.page-three .page-three_seaweed_3 {
  -webkit-transform: translate(-225px, 56px);
          transform: translate(-225px, 56px);
}

.page-three .page-three_seaweed_4 {
  -webkit-transform: translate(-230px, 60px);
          transform: translate(-230px, 60px);
}

.seaweed__color, .seaweed {
  fill: #34a333;
  stroke: #34a333;
}

.ground__template, .ground {
  stroke: #e9d5b6;
  fill: #e9d5b6;
  overflow: visible;
}

.fish__template, .fish {
  fill: #7899BF;
  overflow: visible;
}

.star__template, .star {
  fill: #E48D3D;
}

.bottle__template, .bottle {
  fill: #39cce2;
  stroke: #39cce2;
  overflow: visible;
}

.pebble__template, .pebble {
  fill: #C4C4C4;
}

.rock__template, .rock {
  fill: #C4C4C4;
}

.page-four .page-four__ground {
  -webkit-transform: translate(0, 381px);
          transform: translate(0, 381px);
}

.page-four .page-four__rock {
  -webkit-transform: translate(471px, 250px) scale(2);
          transform: translate(471px, 250px) scale(2);
}

.page-four .page-four__rock__star {
  -webkit-transform: translate(30px, 5px) scale(0.8);
          transform: translate(30px, 5px) scale(0.8);
}

.page-four .page-four__ground__seaweedone {
  -webkit-transform: translate(10px, -12px);
          transform: translate(10px, -12px);
}

.page-four .page-four__ground__seaweedtwo {
  -webkit-transform: translate(30px, -8px) scale(0.8);
          transform: translate(30px, -8px) scale(0.8);
}

.page-four .page-four__ground__seaweedthree {
  -webkit-transform: translate(44px, -20px) scale(1.07);
          transform: translate(44px, -20px) scale(1.07);
}

.page-four .page-four__ground__seaweedfour {
  -webkit-transform: translate(62px, -18px) scale(1.1);
          transform: translate(62px, -18px) scale(1.1);
}

.page-four .page-four__ground__pebbleone {
  -webkit-transform: translate(130px, 60px) scale(1.6);
          transform: translate(130px, 60px) scale(1.6);
}

.page-four .page-four__ground__pebbletwo {
  -webkit-transform: translate(300px, 90px) scale(1.6);
          transform: translate(300px, 90px) scale(1.6);
}

.page-four .page-four__fishone {
  -webkit-transform: translate(80px, 90px);
          transform: translate(80px, 90px);
}

.page-four .page-four__fishtwo {
  -webkit-transform: translate(160px, 50px);
          transform: translate(160px, 50px);
}

.page-four .page-four__fishthree {
  -webkit-transform: translate(-150px, 340px);
          transform: translate(-150px, 340px);
}

.page-four .page-four__fishfour {
  -webkit-transform: translate(300px, 300px);
          transform: translate(300px, 300px);
}

.page-four .page-four__fishone * {
  -webkit-animation: fish_swimacross 8s infinite linear;
          animation: fish_swimacross 8s infinite linear;
}

.page-four .page-four__fishtwo * {
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.page-four .page-four__fishthree * {
  -webkit-animation: floating 4s infinite;
          animation: floating 4s infinite;
}

.page-four .page-four__fishfour * {
  -webkit-animation: floating 7s infinite;
          animation: floating 7s infinite;
}

.page-four .page-four__ground__star-one {
  -webkit-transform: translate(100px, 90px);
          transform: translate(100px, 90px);
}

.page-four .page-four__ground__star-two {
  -webkit-transform: translate(260px, 20px) scale(1.3);
          transform: translate(260px, 20px) scale(1.3);
}

.page-four .page-four__ground__star-three {
  -webkit-transform: translate(350px, 40px) scale(1.2);
          transform: translate(350px, 40px) scale(1.2);
}

.page-five .page-five__ground {
  -webkit-transform: translate(0px, 381px) scale(1);
          transform: translate(0px, 381px) scale(1);
}

.page-five .page-five__rock {
  -webkit-transform: translate(480px, 230px) scale(2.5);
          transform: translate(480px, 230px) scale(2.5);
}

.page-five .page-five__rock__star {
  -webkit-transform: translate(30px, 5px) scale(0.7);
          transform: translate(30px, 5px) scale(0.7);
}

.page-five .page-five__ground__seaweedone {
  -webkit-transform: translate(30px, 8px) scale(1);
          transform: translate(30px, 8px) scale(1);
}

.page-five .page-five__ground__seaweedtwo {
  -webkit-transform: translate(50px, 12px) scale(0.8);
          transform: translate(50px, 12px) scale(0.8);
}

.page-five .page-five__ground__seaweedthree {
  -webkit-transform: translate(74px, 8px) scale(1.07);
          transform: translate(74px, 8px) scale(1.07);
}

.page-five .page-five__ground__pebbleone {
  -webkit-transform: translate(130px, 60px) scale(1.6);
          transform: translate(130px, 60px) scale(1.6);
}

.page-five .page-five__ground__pebbletwo {
  -webkit-transform: translate(300px, 90px) scale(1.6);
          transform: translate(300px, 90px) scale(1.6);
}

.page-five .page-five__ground__pebblethree {
  -webkit-transform: translate(160px, 100px) scale(1.6);
          transform: translate(160px, 100px) scale(1.6);
}

.page-five .page-five__ground__pebblefour {
  -webkit-transform: translate(340px, 30px) scale(1.6);
          transform: translate(340px, 30px) scale(1.6);
}

.page-five .page-five__fishone {
  -webkit-transform: translate(80px, 150px);
          transform: translate(80px, 150px);
}

.page-five .page-five__fishtwo {
  -webkit-transform: translate(260px, 270px);
          transform: translate(260px, 270px);
}

.page-five .page-five__fishthree {
  -webkit-transform: translate(-150px, 340px) scale(-1, 1);
          transform: translate(-150px, 340px) scale(-1, 1);
}

.page-five .page-five__fishone * {
  -webkit-animation: floating 4s infinite;
          animation: floating 4s infinite;
}

.page-five .page-five__fishtwo * {
  -webkit-animation: floating 6s infinite;
          animation: floating 6s infinite;
}

.page-five .page-five__fishthree * {
  -webkit-animation: floating 8s infinite;
          animation: floating 8s infinite;
}

.page-five .page-five__ground__star-one {
  -webkit-transform: translate(100px, 90px);
          transform: translate(100px, 90px);
}

.page-five .page-five__ground__star-two {
  -webkit-transform: translate(260px, 20px) scale(1.3);
          transform: translate(260px, 20px) scale(1.3);
}

.page-five .page-five__bottleone {
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
}

.page-five .page-five__bottleone * {
  -webkit-animation: floating 4s infinite;
          animation: floating 4s infinite;
}

.page-five .page-five__bottletwo {
  -webkit-transform: translate(-300px, -200px);
          transform: translate(-300px, -200px);
}

.page-five .page-five__bottletwo * {
  -webkit-animation: floating 6s infinite;
          animation: floating 6s infinite;
}

.page-six .page-six__ground {
  -webkit-transform: translate(0, 332px);
          transform: translate(0, 332px);
}

.page-six .page-six__rock {
  -webkit-transform: translate(480px, 180px) scale(2.5);
          transform: translate(480px, 180px) scale(2.5);
}

.page-six .page-six__ground__seaweed {
  -webkit-transform: translate(44px, 8px) scale(1.4);
          transform: translate(44px, 8px) scale(1.4);
}

.page-six .page-six__ground__pebbleone {
  -webkit-transform: translate(130px, 60px) scale(1.6);
          transform: translate(130px, 60px) scale(1.6);
}

.page-six .page-six__ground__pebbletwo {
  -webkit-transform: translate(260px, 90px) scale(1.6);
          transform: translate(260px, 90px) scale(1.6);
}

.page-six .page-six__ground__pebblethree {
  -webkit-transform: translate(160px, 130px) scale(1.6);
          transform: translate(160px, 130px) scale(1.6);
}

.page-six .page-six__ground__pebblefour {
  -webkit-transform: translate(340px, 30px) scale(1.6);
          transform: translate(340px, 30px) scale(1.6);
}

.page-six .page-six__ground__pebblefive {
  -webkit-transform: translate(340px, 120px) scale(1.6);
          transform: translate(340px, 120px) scale(1.6);
}

.page-six .page-six__ground__star-one {
  -webkit-transform: translate(80px, 110px) scale(0.7);
          transform: translate(80px, 110px) scale(0.7);
}

.page-six .page-six__fishone {
  -webkit-transform: translate(30px, 270px);
          transform: translate(30px, 270px);
}

.page-six .page-six__fishone * {
  -webkit-animation: floating 12s infinite;
          animation: floating 12s infinite;
}

.page-six .page-six__bottleone {
  -webkit-transform: translate(20px, 40px) scale(1.1) rotate(-20deg);
          transform: translate(20px, 40px) scale(1.1) rotate(-20deg);
}

.page-six .page-six__bottleone * {
  -webkit-animation: floating 5s infinite;
          animation: floating 5s infinite;
}

.page-six .page-six__bottletwo {
  -webkit-transform: translate(200px, 200px) scale(0.9) rotate(-10deg);
          transform: translate(200px, 200px) scale(0.9) rotate(-10deg);
}

.page-six .page-six__bottletwo * {
  -webkit-animation: floating 7s infinite;
          animation: floating 7s infinite;
}

.page-six .page-six__ground__bottleone {
  -webkit-transform: translate(335px, 50px) scale(0.8);
          transform: translate(335px, 50px) scale(0.8);
}

.page-seven .page__seven__fish {
  -webkit-animation: fish-bounce 5s linear infinite;
  animation: fish-bounce 5s linear infinite;
}

.page-seven .page-seven__bag {
  -webkit-animation: bag-float 5s ease infinite;
  animation: bag-float 5s ease infinite;
}

.page-seven .page__seven__fish-float {
  -webkit-animation: fish-float 5s infinite;
  animation: fish-float 5s infinite;
}

.page-eight .page__eight__plastic {
  -webkit-animation: plastic-bounce 4s ease infinite;
  animation: plastic-bounce 4s ease infinite;
}

.page-eight .page__eight__cup {
  -webkit-animation: plastic-shake 4s ease infinite;
  animation: plastic-shake 4s ease infinite;
}

.page-eight .page__eight__div-plastic {
  -webkit-animation: div-plastic 5s linear infinite;
  animation: div-plastic 5s linear infinite;
}

.page-nine .page__nine__earth {
  -webkit-animation: earth 5s ease infinite;
  animation: earth 5s ease infinite;
}

.page-nine .page__nine__left-hand {
  -webkit-animation: left-hand 5s ease infinite;
  animation: left-hand 5s ease infinite;
}

.page-nine .page__nine__fish-float {
  -webkit-animation: fish-float 5s infinite;
  animation: fish-float 5s infinite;
}

/* all styling for the 10 slides go here, some svg things can go in svg file for better separation*/
.page-front {
  background-color: #CBF6FF;
}

.page-one {
  background-color: #2c8d9d;
}

.page-two {
  background-color: #026873;
}

.page-front_jsanimations .page-front_cloud_1 {
  -webkit-animation: slide-out-left 20s linear both;
          animation: slide-out-left 20s linear both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-front_jsanimations .page-front_cloud_2 {
  -webkit-animation: slide-out-left1 20s linear both;
          animation: slide-out-left1 20s linear both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-front_jsanimations .page-front_cloud_3 {
  -webkit-animation: slide-out-left2 20s linear both;
          animation: slide-out-left2 20s linear both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-front_jsanimations .page-front_cloud_4 {
  -webkit-animation: slide-out-left3 20s linear both;
          animation: slide-out-left3 20s linear both;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-two_jsanimations .page-two_fish1 {
  -webkit-animation: fish-swim 21s linear;
          animation: fish-swim 21s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-two_jsanimations .page-two_fish2 {
  -webkit-animation: fish-swim2 18s linear;
          animation: fish-swim2 18s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-two_jsanimations .page-two_fish3 {
  -webkit-animation: fish-swim3 24s linear;
          animation: fish-swim3 24s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-three_jsanimations .page-three_starfish {
  -webkit-animation: starfall 1s linear;
          animation: starfall 1s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-three_jsanimations .page-three_fish4 {
  -webkit-animation: fish-swim4 10s linear;
          animation: fish-swim4 10s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page__infotext {
  position: absolute;
  color: #a0ebe3;
  width: 500px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.7rem;
  text-align: center;
  font-weight: 600;
}

.page__infotext--two {
  -webkit-transform: translate(54px, -160px);
          transform: translate(54px, -160px);
}

.page__infotext--three {
  -webkit-transform: translate(46px, -114px);
          transform: translate(46px, -114px);
}

.page-three,
.page-four,
.page-five,
.page-six {
  background-color: #025e73;
  overflow: hidden;
}

.page-four__animator .page-four__fishfour {
  -webkit-animation: page-four__fish__right 5s ease-in-out;
          animation: page-four__fish__right 5s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-five__animator .page-five__fishtwo {
  -webkit-animation: fishtwo__swimaway 2s ease-in-out;
          animation: fishtwo__swimaway 2s ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-five__animator .page-five__bottleone {
  -webkit-animation: bottle__fall 2s ease-in-out;
          animation: bottle__fall 2s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-five__animator .page-five__bottletwo {
  -webkit-animation: bottle__fall__two 4s ease-in-out;
          animation: bottle__fall__two 4s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-five__animator .page-five__fishone {
  -webkit-animation: page-five__fishone__swim 4s ease-in-out;
          animation: page-five__fishone__swim 4s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

.page-six__animator .page-six__ground__bottleone {
  -webkit-animation: page-six__bottle 8s ease-in-out;
          animation: page-six__bottle 8s ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page-seven__animation .page__text--seven {
  -webkit-animation-name: page-seven__text;
          animation-name: page-seven__text;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.page-eight__animation .page__text--eight {
  -webkit-animation: page-eight__text 5s 1;
          animation: page-eight__text 5s 1;
}

.page-nine__animation .page__text--nine {
  -webkit-animation-name: page-nine__text;
          animation-name: page-nine__text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.page__text {
  font-size: 2rem;
  position: absolute;
  max-width: 345px;
  margin: 0 auto;
  text-align: center;
}

.page__text--seven {
  -webkit-transform: translate(40%, 30px);
          transform: translate(40%, 30px);
}

.page__text--eight {
  -webkit-transform: translate(130px, 250px);
          transform: translate(130px, 250px);
}

.page__text--nine {
  -webkit-transform: translate(130px, 50px);
          transform: translate(130px, 50px);
}
/*# sourceMappingURL=index.css.map */